$white: #fafafa;
$main-color: #27AE60;

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.landing-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-position: bottom;
    background-size: cover;
    background-image: url(../assets/images/aboutbg.png);
    @media screen and ( orientation: portrait) {
        background-image: url(../assets/images/photo3mob.jpg);
        height: unset;
        padding: 25% 0;
        justify-content: center;
    }
    .goBackButton{
        position: absolute;
        top: 2vmax;
        left: 0;
        background-color: black;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5vmax 2vmax;
        border: 2px solid black;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: 250ms ease;
        .goBackIcon{
            width: 1.5vmax;
            height: 1.5vmax;
            transform: rotate(90deg);
            background-image: url(../assets/icons/arrow-icon.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(194deg) brightness(124%) contrast(96%);
            transition: 250ms ease;
        }
        p{
            margin-left: 1vmax;
            font-size: 1.2vmax;
            color: $white;
            cursor: pointer;
            transition: 250ms ease;
            @media screen and ( orientation: portrait) {
                font-size: 2vmax;
                margin-left: 2vmax;
            }
        }
        &:hover{
            background-color: $main-color;
            border: 2px solid $main-color;
            p {
            margin-left: 1.5vmax;
            }   
            .goBackIcon{
                margin-left: 1vmax;
            }
        }
    }
    .wrapper-content{
        width: 35%;
        margin-right: 15%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and ( orientation: portrait) {
           width: 80%;
           margin: auto;
        }
        @media screen and ( max-width: 500px) {
            width: 90%;
        }
        h2{
            font-size: 2.4vmax;
            @media screen and ( orientation: portrait) {
                font-size: 4.5vmax;
            }
            @media screen and ( max-width: 500px) {
                font-size: 3.5vmax;
            }
        }
        p{
            margin-top: 3vmax;
            font-size: 1.2vmax;
            @media screen and ( orientation: portrait) {
                margin-top: 5vmax;
                font-size: 2.2vmax;
            }
            @media screen and ( max-width: 500px) {
                margin-top: 3vmax;
                font-size: 2vmax;
            }
        }
        .goDownIcon{
            width: 2vmax;
            height: 2vmax;
            margin-top: 4vmax;
            background-image: url(../assets/icons/scroll-icon.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: 250ms ease;
            @media screen and ( orientation: portrait) {
                width: 4vmax;
                height: 4vmax;
                margin-top: 8vmax;
            }
            &:hover{
                filter: invert(48%) sepia(95%) saturate(370%) hue-rotate(93deg) brightness(95%) contrast(86%);;
            }
        }
        a{
            color: $main-color;
        }
    }
    #goUp-button{
        width: 2vmax;
        height: 2vmax;
        background-color: $white;
        border-radius: 50%;
        padding: 0.5vmax;
        position: fixed;
        bottom: 3vmax;
        right: 2vmax;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -2px 2px 15px -5px rgba(0, 0, 0, 1);
        cursor: pointer;
        transition: 500ms ease;
        z-index: 999;
        @media screen and ( orientation: portrait) {
            width: 4vmax;
            height: 4vmax;
            bottom: 4vmax;
            right: 3vmax;
        }
        &:hover{
            transform: rotate(360deg);
        }
        img{
            width: 60%;
            height: 60%;
            transform: rotate(180deg);
        }
    }
}
.counter-wrapper{
    width: 100%;
    background-color: $white;  
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2vmax 0;
    @media screen and ( orientation: portrait) {
        padding: unset;
    }
    .counter-content{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 1.5vmax 0;
        justify-content: space-around;
        background-color: $main-color; 
        border-radius: 30px;
        @media screen and ( orientation: portrait) {
            width: 100%;
            border-radius: unset;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 5vmax;
            padding: 4vmax 0;
        }

        .counter-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h3{
                color: $white;
                font-size: 1.6vmax;
                font-weight: 400;
                @media screen and ( orientation: portrait) {
                    font-size: 3vmax;
                }
            }
            h4{
                font-size: 1vmax;
                font-weight: 400;
                margin-top: 0.5vmax;
                @media screen and ( orientation: portrait) {
                    font-size:2.5vmax;
                }
            }
        }
        .box-spacer::after{
            content: '';
            position: absolute;
            margin-right: -15%;
            display: block;
            width: 3px;
            height: 3vmax;
            background-color: $white;
            @media screen and ( orientation: portrait) {
                display: none;
            }
        }     
    }
}
.information1-wrapper{
    width: 100%;
    padding: 10vmax 0;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and ( orientation: portrait) {
        flex-direction: column;
        padding: 10vmax 0 0 0 ;
    }
    .information1-content{
        width: 30%;
        @media screen and ( orientation: portrait) {
            width: 70%;
        }
        @media screen and ( max-width: 500px) {
            width: 85%;
        }
        h2{
            font-size: 2.4vmax;
            font-weight: 500;
            text-align: center;
            position: relative;
            z-index: 1;
            @media screen and ( orientation: portrait) {
                font-size: 3.5vmax;
            }
            @media screen and ( max-width: 500px) {
                font-size: 3vmax;
            }
            &::before{
                content: '';
                display: block;
                position: absolute;
                width: 40%;
                height: 8px;
                bottom: 10%;
                margin-left: -1vmax;
                z-index: -1;
                background-color: $main-color;
                @media screen and ( orientation: portrait) {
                    width: 30%;
                    margin: 0;
                }
                @media screen and ( max-width: 500px) {
                    width: 20%;
                    margin-left: 2vmax;
                    bottom: 4%;
                }
            }
        }
        p{
            margin-top: 3vmax;
            font-size: 1.2vmax;
            text-align: center;
            @media screen and ( orientation: portrait) {
                font-size: 2.2vmax;
                margin-top: 6vmax;
            }
            @media screen and ( max-width: 500px) {
                font-size: 1.9vmax;
            }
        }
        a{
            color: $main-color;
        } 
    }
    
    .information1-picture{
        width: 35vmax;
        height: 25vmax;
        background-image: url(../assets/images/about-img1.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        @media screen and ( orientation: portrait) {
            width: 100%;
            height: 30vmax;
            margin-top: 6vmax;
            margin-bottom: 0;
        }

        &::before{
            content: '';
            position: absolute;
            display: block;
            bottom: -1vmax;
            left: -1vmax;
            width: 75%;
            height: 1vmax;
            background-color: $main-color;
            @media screen and ( orientation: portrait) {
                width: 100%;
                bottom: 0;
                height: 4px;
                left: 0;
            }
        }
        &::after{
            content: '';
            position: absolute;
            display: block;
            bottom: -1vmax;
            left: -1vmax;
            width: 1vmax;
            height: 75%;
            background-color: $main-color;
            @media screen and ( orientation: portrait) {
                width: 100%;
                left: 0;
                top: 0;
                height: 4px;
                
            }
        }
    }
}

.information2-wrapper{
    width: 100%;
    padding: 10vmax 0;
    background-image: url(../assets/images/aboutbg2.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and ( orientation: portrait) {
        background-image: unset;
        background-color: $white;
    }
    .information2-content{
        width: 30%;
        margin-right: -35%;
        @media screen and ( orientation: portrait) {
            width: 70%;
            margin: auto;
        }
        @media screen and ( max-width: 500px) {
            width: 85%;
        }
        h2{
            font-size: 2.4vmax;
            font-weight: 500;
            text-align: center;
            position: relative;
            z-index: 1;
            @media screen and ( orientation: portrait) {
                font-size: 3.5vmax;
            }
            @media screen and ( max-width: 500px) {
                font-size: 3vmax;
            }
            &::before{
                content: '';
                display: block;
                position: absolute;
                width: 40%;
                height: 8px;
                bottom: 10%;
                right: 0;
                margin-right: -1vmax;
                z-index: -1;
                background-color: $main-color;
                @media screen and ( orientation: portrait) {
                    width: 30%;
                    margin: 0;
                }
                @media screen and ( max-width: 500px) {
                    width: 20%;
                    margin-right: 2vmax;
                    bottom: 4%;
                }
            }
        }
        p{
            margin-top: 3vmax;
            font-size: 1.2vmax;
            text-align: center;
            @media screen and ( orientation: portrait) {
                font-size: 2.2vmax;
                margin-top: 6vmax;
            }
            @media screen and ( max-width: 500px) {
                font-size: 1.9vmax;
            }
        }
        a{
            color: $main-color;
        } 
    }
}

.information3-wrapper{
    width: 100%;
    background-color: $main-color;
    padding: 10vmax 0;
    display: flex;
    align-items: center;
    justify-content:space-around;
    @media screen and ( orientation: portrait) {
        flex-direction: column;
    }
    @media screen and ( max-width: 500px) {
        padding: 5vmax 0;
    }
    .information3-text{
        width: 30%;
        margin-left: 5%;
        color: $white;
        @media screen and ( orientation: portrait) {
            width: 75%;
            margin: auto;
        }
        @media screen and ( max-width: 500px) {
            width: 90%;
        }
        h2{
            font-size: 2.2vmax;
            text-align: center;
            @media screen and ( orientation: portrait) {
                font-size: 3.5vmax;
            }
            @media screen and ( max-width: 500px) {
                font-size: 3vmax;
            }
        }
        p{
            font-size: 1.1vmax;
            margin-top: 2vmax;
            text-align: center;
            @media screen and ( orientation: portrait) {
                font-size: 2.2vmax;
                margin-top: 4vmax;
            }
            @media screen and ( max-width: 500px) {
                font-size: 1.9vmax;
            }
        }
    }
    .information3-box-container{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media screen and ( orientation: portrait) {
            width: 90%;
            margin-top: 6vmax;
        }
        @media screen and ( max-width: 500px) {
            width: 95%;
            flex-direction: column;
        }
        .information3-box{
            background-color: $white;
            padding: 2vmax;
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media screen and ( max-width: 500px) {
                padding: 2vmax 1vmax 2vmax 1vmax ;
                width: 90%;
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 2vmax;
                border-radius: 0;
            }
            .information3-box-icon{
                width: 5vmax;
                height: 5vmax;
                background-color: gray;
                @media screen and ( orientation: portrait) {
                    width:10vmax;
                    height: 10vmax;
                }
            }
            p{
                margin-top: 1vmax;
                font-size: 1.1vmax;
                text-align: center;
                @media screen and ( orientation: portrait) {
                    font-size: 1.8vmax;
                }
                @media screen and ( max-width: 500px) {
                    width: 60%;
                    font-size: 1.5vmax;
                }
            }
        }
    }
}

.ourTeam-wrapper{
    width: 100%;
    padding: 6vmax 0;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .OurTeam-wrapper-title{
        font-size: 2.2vmax;
        font-weight: 500;
        margin-left: 5vmax;
        position: relative;
        z-index: 2;
        @media screen and ( orientation: portrait) {
            font-size: 3.5vmax;
        }
        @media screen and ( max-width: 500px) {
            font-size: 3vmax;
        }
        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 50%;
            height: 8px;
            bottom: 12%;
            z-index: -1;
            margin-left: -1.5vmax;
            background-color: $main-color;
            @media screen and ( max-width: 500px) {
                width: 45%;
                bottom: 4%;
            }
        }
    }
    .ourTeam-container{
        width: 80%;
        display: grid;
        margin: 5vmax auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 20%;
        row-gap: 5%;
        @media screen and ( orientation: portrait) {
            width: 90%;
            column-gap: 0;
        }
        @media screen and ( max-width: 500px) {
            width: 100%;
        }
        .ourTeam-box{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 2vmax;
            @media screen and ( orientation: portrait) {
               flex-direction: column;
               text-align: center;
            }
            @media screen and ( max-width: 500px) {
                padding: 1vmax;
            }
            .ourTeam-photo{
                width: 8vmax;
                height: 8vmax;
                border-radius: 50%;
                background-color: gray;
                @media screen and ( orientation: portrait) {
                    width: 10vmax;
                    height: 10vmax;
                }
            }
            .ourTeam-text{
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                @media screen and ( orientation: portrait) {
                    width: 75%;
                    align-items: center;
                    margin-top: 2vmax;
                }
                @media screen and ( max-width: 500px) {
                    width: 90%;
                }
                h2{
                    font-size: 1.4vmax;
                    color: $main-color;
                    margin: 0;
                    @media screen and ( orientation: portrait) {
                        font-size: 2.2vmax;
                        text-align: center;
                    }
                }
                p{
                    font-size: 0.9vmax;
                    margin-top: 0.5vmax;
                    @media screen and ( orientation: portrait) {
                        font-size: 1.4vmax;
                    }
                }
            }
        }
    }
}

.information4-wrapper{
    width: 100%;
    height: 90vh;
    background-image: url(../assets/images/aboutbg3.jpg);
    background-position: center;
    background-size: cover;
    @media screen and ( orientation: portrait) {
        height: unset;
    }
    .information4-container{
        width: 60%;
        height: 100%;
        background-color: rgba(39, 174, 96,0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media screen and ( orientation: portrait) {
            width: 100%;
            padding: 10vmax 0;
        }
        @media screen and ( max-width: 500px) {
            padding:5vmax 0;
        }
        h2{
            font-size: 2.2vmax;
            font-weight: 500;
            color: $white;
            @media screen and ( orientation: portrait) {
                font-size: 3.5vmax;
            }
            @media screen and ( max-width: 500px) {
                font-size: 3vmax;
            }
        }
        p{
            font-size: 1vmax;
            width: 70%;
            margin-top: 3vmax;
            text-align: center;
            color: $white;
            @media screen and ( orientation: portrait) {
                font-size: 2vmax;
                width: 90%;
                margin-top: 6vmax;
            }
            @media screen and ( max-width: 500px) {
                font-size: 1.7vmax;
            }
        }
    }
}
footer{
    width: 100%;
    padding: 0.5vmax 0;
    color: $white;
    background-color: rgb(83, 83, 83);
    letter-spacing: 0.5vmax;
    text-align: center;
    font-size: 0.8vmax;
    @media screen and ( orientation: portrait) {
        font-size: 1.2vmax;   
        padding: 1vmax 0;      
    }
}