* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (orientation: portrait) {
  .wrapper {
    background-position: center;
    background-size: cover;
    background-image: url(../assets/images/photo3mob.jpg);
    overflow-y: hidden;
  }
}

.wrapper .goBackButton {
  position: absolute;
  background-color: black;
  top: 3vmax;
  padding: 0.5vmax 2vmax;
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  z-index: 999;
}

@media screen and (orientation: portrait) {
  .wrapper .goBackButton {
    padding: 1vmax 3vmax;
  }
}

.wrapper .goBackButton .goBackIcon {
  width: 1.5vmax;
  height: 1.5vmax;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-image: url(../assets/icons/arrow-icon.svg);
  background-position: center;
  background-size: cover;
  -webkit-filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(194deg) brightness(124%) contrast(96%);
          filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(194deg) brightness(124%) contrast(96%);
  cursor: pointer;
  text-decoration: none;
}

@media screen and (orientation: portrait) {
  .wrapper .goBackButton .goBackIcon {
    width: 2.5vmax;
    height: 2.5vmax;
  }
}

.wrapper .goBackButton a {
  text-decoration: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .goBackButton a p {
  margin-left: 1vmax;
  font-size: 1.2vmax;
  color: #fafafa;
  cursor: pointer;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

@media screen and (orientation: portrait) {
  .wrapper .goBackButton a p {
    font-size: 2vmax;
    margin-left: 2vmax;
  }
}

.wrapper .goBackButton:hover {
  background-color: #27AE60;
  border: 2px solid #27AE60;
}

.wrapper .goBackButton:hover p {
  margin-left: 2vmax;
}

.wrapper .photo {
  width: 45%;
  height: 100%;
  margin-left: -3%;
  background-image: url(../assets/images/photo3.jpg);
  -webkit-transform: skewX(5deg);
          transform: skewX(5deg);
  border-right: 10px solid #27AE60;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (orientation: portrait) {
  .wrapper .photo {
    display: none;
  }
}

.wrapper .text-container {
  width: 58%;
  height: 100%;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (orientation: portrait) {
  .wrapper .text-container {
    width: 100%;
    height: unset;
    margin: 20% 0 10% 0;
    overflow-y: auto;
  }
}

@media screen and (max-width: 500px) {
  .wrapper .text-container {
    margin-top: 25%;
  }
}

.wrapper .text-container .content {
  width: 60%;
  height: 175%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: portrait) {
  .wrapper .text-container .content {
    width: 70%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .wrapper .text-container .content {
    width: 80%;
  }
}

.wrapper .text-container .content h1 {
  margin: 10% 0;
  font-size: 3vmax;
  font-weight: 500;
}

@media screen and (orientation: portrait) {
  .wrapper .text-container .content h1 {
    font-size: 5vmax;
    margin: 0 0 10% 0;
  }
}

.wrapper .text-container .content p {
  margin: 1vmax 0;
  text-align: center;
  font-size: 1.1vmax;
  line-height: 1.5vmax;
  font-weight: 400;
}

@media screen and (orientation: portrait) {
  .wrapper .text-container .content p {
    font-size: 2vmax;
    line-height: unset;
  }
}

.wrapper .text-container .content p a {
  color: #27AE60;
}

.wrapper .text-container .goUp-button {
  width: 2vmax;
  height: 2vmax;
  background-color: #fafafa;
  border-radius: 50%;
  padding: 0.5vmax;
  position: fixed;
  bottom: 3vmax;
  right: 2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: -2px 2px 15px -5px black;
          box-shadow: -2px 2px 15px -5px black;
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.wrapper .text-container .goUp-button:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.wrapper .text-container .goUp-button img {
  width: 60%;
  height: 60%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=about.css.map */