$white: #fafafa;
$main-color: #27AE60;

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    @media screen and ( orientation: portrait) {
        background-position: center;
        background-size: cover;
        background-image: url(../assets/images/photo3mob.jpg);
        overflow-y: hidden;
    }
    .goBackButton{
        position: absolute;
        background-color: black;
        top: 3vmax;
        padding: 0.5vmax 2vmax;
        border: 2px solid black;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: 250ms ease;
        z-index: 999;
        @media screen and ( orientation: portrait) {
            padding: 1vmax 3vmax;
        }
        .goBackIcon{
            width: 1.5vmax;
            height: 1.5vmax;
            transform: rotate(90deg);
            background-image: url(../assets/icons/arrow-icon.svg);
            background-position: center;
            background-size: cover;
            filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(194deg) brightness(124%) contrast(96%);
            cursor: pointer;
            text-decoration: none;
            @media screen and ( orientation: portrait) {
                width: 2.5vmax;
                height: 2.5vmax;
            }
        }
        a{
            text-decoration: none;
            border: none;
            display: flex;
            p{
                margin-left: 1vmax;
                font-size: 1.2vmax;
                color: $white;
                cursor: pointer;
                transition: 250ms ease;
                @media screen and ( orientation: portrait) {
                    font-size: 2vmax;
                    margin-left: 2vmax;
                }
            }
        }
            &:hover{
                background-color: $main-color;
                border: 2px solid $main-color;
                p{
                    margin-left: 2vmax;
                }
            }
    }
    .photo{
        width: 45%;
        height: 100%;
        margin-left: -3%;
        background-image: url(../assets/images/photo3.jpg);
        transform: skewX(5deg);
        border-right: 10px solid $main-color;
        background-size: cover;
        display: flex;
        align-items: flex-start;
        @media screen and ( orientation: portrait) {
           display: none;
        }
    }
    .text-container{
        width: 58%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        @media screen and ( orientation: portrait) {
            width: 100%;
            height: unset;
            margin: 20% 0 10% 0;
            overflow-y: auto;
        }
        @media screen and ( max-width: 500px) {
            margin-top: 25%;
        }
        .content{
            width: 60%;
            height: 175%;
            display: flex;
            flex-direction: column;
            align-items:  center;
            @media screen and ( orientation: portrait) {
                width: 70%;
                height: 100%;
            }
            @media screen and ( max-width: 500px) {
                width: 80%;
            }
            h1{
                margin: 10% 0;
                font-size: 3vmax;
                font-weight: 500;
                @media screen and ( orientation: portrait) {
                    font-size: 5vmax;
                    margin: 0 0 10% 0;
                }

            }
            p{
                margin: 1vmax 0;
                text-align: center;
                font-size: 1.1vmax;
                line-height: 1.5vmax;
                font-weight: 400;
                @media screen and ( orientation: portrait) {
                    font-size: 2vmax;
                    line-height: unset;
                }
                a{
                    color: $main-color;
                }
            }
        }
        .goUp-button{
            width: 2vmax;
            height: 2vmax;
            background-color: $white;
            border-radius: 50%;
            padding: 0.5vmax;
            position: fixed;
            bottom: 3vmax;
            right: 2vmax;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: -2px 2px 15px -5px rgba(0, 0, 0, 1);
            cursor: pointer;
            transition: 500ms ease;
            &:hover{
                transform: rotate(360deg);
            }
            img{
                width: 60%;
                height: 60%;
                transform: rotate(180deg);
            }
        } 
    }
}