* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-position: bottom;
  background-size: cover;
  background-image: url(../assets/images/aboutbg.png);
}

.wrapper .goBackButton {
  position: absolute;
  top: 2vmax;
  left: 0;
  background-color: black;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5vmax 2vmax;
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.wrapper .goBackButton .goBackIcon {
  width: 1.5vmax;
  height: 1.5vmax;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-image: url(../assets/icons/arrow-icon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(194deg) brightness(124%) contrast(96%);
          filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(194deg) brightness(124%) contrast(96%);
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.wrapper .goBackButton p {
  margin-left: 1vmax;
  font-size: 1.2vmax;
  color: #fafafa;
  cursor: pointer;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

@media screen and (orientation: portrait) {
  .wrapper .goBackButton p {
    font-size: 2vmax;
    margin-left: 2vmax;
  }
}

.wrapper .goBackButton:hover {
  background-color: #27AE60;
  border: 2px solid #27AE60;
}

.wrapper .goBackButton:hover p {
  margin-left: 1.5vmax;
}

.wrapper .goBackButton:hover .goBackIcon {
  margin-left: 1vmax;
}

.wrapper .wrapper-content {
  width: 35%;
  margin-right: 15%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .wrapper-content h2 {
  font-size: 2.4vmax;
}

.wrapper .wrapper-content p {
  margin-top: 3vmax;
  font-size: 1.2vmax;
}

.wrapper .wrapper-content .goDownIcon {
  width: 2vmax;
  height: 2vmax;
  margin-top: 4vmax;
  background-image: url(../assets/icons/scroll-icon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.wrapper .wrapper-content .goDownIcon:hover {
  -webkit-filter: invert(48%) sepia(95%) saturate(370%) hue-rotate(93deg) brightness(95%) contrast(86%);
          filter: invert(48%) sepia(95%) saturate(370%) hue-rotate(93deg) brightness(95%) contrast(86%);
}

.wrapper .wrapper-content a {
  color: #27AE60;
}

.counter-wrapper {
  width: 100%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2vmax 0;
}

.counter-wrapper .counter-content {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5vmax 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #27AE60;
  border-radius: 30px;
}

.counter-wrapper .counter-content .counter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counter-wrapper .counter-content .counter-box h3 {
  color: #fafafa;
  font-size: 1.6vmax;
  font-weight: 400;
}

.counter-wrapper .counter-content .counter-box h4 {
  font-size: 1vmax;
  font-weight: 400;
  margin-top: 0.5vmax;
}

.counter-wrapper .counter-content .box-spacer::after {
  content: '';
  position: absolute;
  margin-right: -15%;
  display: block;
  width: 3px;
  height: 3vmax;
  background-color: #fafafa;
}

.information1-wrapper {
  width: 100%;
  padding: 10vmax 0;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.information1-wrapper .information1-content {
  width: 30%;
}

.information1-wrapper .information1-content h2 {
  font-size: 2.4vmax;
  font-weight: 500;
  text-align: center;
  position: relative;
  z-index: 1;
}

.information1-wrapper .information1-content h2::before {
  content: '';
  display: block;
  position: absolute;
  width: 40%;
  height: 8px;
  bottom: 10%;
  margin-left: -1vmax;
  z-index: -1;
  background-color: #27AE60;
}

.information1-wrapper .information1-content p {
  margin-top: 3vmax;
  font-size: 1.2vmax;
  text-align: center;
}

.information1-wrapper .information1-content a {
  color: #27AE60;
}

.information1-wrapper .information1-picture {
  width: 35vmax;
  height: 25vmax;
  background-image: url(../assets/images/about-img1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.information1-wrapper .information1-picture::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -1vmax;
  left: -1vmax;
  width: 75%;
  height: 1vmax;
  background-color: #27AE60;
}

.information1-wrapper .information1-picture::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1vmax;
  left: -1vmax;
  width: 1vmax;
  height: 75%;
  background-color: #27AE60;
}

.information2-wrapper {
  width: 100%;
  padding: 10vmax 0;
  background-image: url(../assets/images/aboutbg2.png);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.information2-wrapper .information2-content {
  width: 30%;
  margin-right: -35%;
}

.information2-wrapper .information2-content h2 {
  font-size: 2.4vmax;
  font-weight: 500;
  text-align: center;
  position: relative;
  z-index: 1;
}

.information2-wrapper .information2-content h2::before {
  content: '';
  display: block;
  position: absolute;
  width: 40%;
  height: 8px;
  bottom: 10%;
  right: 0;
  margin-right: -1vmax;
  z-index: -1;
  background-color: #27AE60;
}

.information2-wrapper .information2-content p {
  margin-top: 3vmax;
  font-size: 1.2vmax;
  text-align: center;
}

.information2-wrapper .information2-content a {
  color: #27AE60;
}

.information3-wrapper {
  width: 100%;
  background-color: #27AE60;
  padding: 10vmax 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.information3-wrapper .information3-text {
  width: 25%;
  margin-left: 5%;
  color: #fafafa;
}

.information3-wrapper .information3-text h2 {
  font-size: 2.2vmax;
  text-align: center;
}

.information3-wrapper .information3-text p {
  font-size: 1.1vmax;
  margin-top: 2vmax;
  text-align: center;
}

.information3-wrapper .information3-box {
  background-color: #fafafa;
  padding: 2vmax;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.information3-wrapper .information3-box .information3-box-icon {
  width: 5vmax;
  height: 5vmax;
  background-color: aquamarine;
}

.information3-wrapper .information3-box p {
  margin-top: 1vmax;
  font-size: 1.1vmax;
  text-align: center;
}

.information3-wrapper .box2 {
  margin-right: 5%;
}

.ourTeam-wrapper {
  width: 100%;
  padding: 6vmax 0;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ourTeam-wrapper .OurTeam-wrapper-title {
  font-size: 2.2vmax;
  font-weight: 500;
  margin-left: 5vmax;
  position: relative;
  z-index: 2;
}

.ourTeam-wrapper .OurTeam-wrapper-title::before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 8px;
  bottom: 12%;
  z-index: -1;
  margin-left: -1.5vmax;
  background-color: #27AE60;
}

.ourTeam-wrapper .ourTeam-container {
  width: 80%;
  display: -ms-grid;
  display: grid;
  margin: 5vmax auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20%;
          column-gap: 20%;
  row-gap: 5%;
}

.ourTeam-wrapper .ourTeam-container .ourTeam-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2vmax;
}

.ourTeam-wrapper .ourTeam-container .ourTeam-box .ourTeam-photo {
  width: 8vmax;
  height: 8vmax;
  border-radius: 50%;
  background-color: gray;
}

.ourTeam-wrapper .ourTeam-container .ourTeam-box .ourTeam-text {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ourTeam-wrapper .ourTeam-container .ourTeam-box .ourTeam-text h2 {
  font-size: 1.4vmax;
  color: #27AE60;
  margin: 0;
}

.ourTeam-wrapper .ourTeam-container .ourTeam-box .ourTeam-text p {
  font-size: 0.9vmax;
  margin-top: 0.5vmax;
}

.information4-wrapper {
  width: 100%;
  height: 90vh;
  background-image: url(../assets/images/aboutbg3.jpg);
  background-position: center;
  background-size: cover;
}

.information4-wrapper .information4-container {
  width: 60%;
  height: 100%;
  background-color: rgba(39, 174, 96, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.information4-wrapper .information4-container h2 {
  font-size: 2.2vmax;
  font-weight: 500;
  color: #fafafa;
}

.information4-wrapper .information4-container p {
  font-size: 1vmax;
  width: 70%;
  margin-top: 3vmax;
  text-align: center;
  color: #fafafa;
}

footer {
  background-color: #535353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5vmax 0;
}

footer p {
  color: #fafafa;
}
/*# sourceMappingURL=about.css.map */