$white: rgba(250, 250, 250,1);
$main-color: #27AE60;

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}



.landing-wrapper{
    width: 100%;
    height: 100vh;
    .navBar{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $white;
        .navBarLogo{
            font-size: 3vmax;
            font-weight: 500;
            a{
                color: #27AE60;
            }
        }
        nav ul{
                display: flex;
                align-items: center;
                justify-content: space-around;
                list-style: none;
                li{
                    margin: 0 1vmax;
                    font-size: 1.2vmax;
                    padding: 0.5vmax 1vmax;
                    cursor: pointer;
                    position: relative;
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        width: 0px;
                        height: 2px;
                        background-color: $main-color;
                        transition: 350ms ease;
                    }
                    
                }
                .menu-about:hover,
                .menu-offer:hover,
                .menu-portfolio:hover,
                .menu-contact:hover{
                    &::before{
                        width: 80%;
                    }
                }
                .menu-contact{
                    color: $main-color;
                }
            } 
    }
    .landing-contener {
        width: 100%;
        height: 90%;
        background-color: $white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .landing-content{
            margin-left: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            transform: skewX(-8deg);
            h1{
                font-size: 5.5vmax;
                text-transform: uppercase;
                font-weight: 500;
                line-height: 140%;
                a{
                    color: $main-color;
                }
            }
            h2{
                margin-top: 2vmax;
                font-size: 1.2vmax;
                font-weight: 500;
                line-height: 150%;
                a{
                    color: $main-color;
                }
            }
            .landing-button{
                position: relative;
                margin-top: 4vmax;
                padding: 1.3vmax 4vmax;
                background-color: $white;  
                transition: 350ms ease-in-out;
                cursor: pointer;
                p{
                    color: $main-color;
                    font-size: 1.4vmax;
                    font-weight: 500;
                    transition: 350ms ease-in-out;
                }
            }
            .landing-button:hover{
                background-color: $main-color;
                p{
                    color: $white;
                }
                &::after,
                &::before{
                    display: none;
                }
            }
            .landing-button::after{
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 60%;
                height: 55%;
                border-top: 4px solid $main-color;
                border-left: 4px solid $main-color;
                transition:350ms ease-in-out;
            }
            .landing-button::before{
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                right: 0;
                width: 60%;
                height: 55%;
                border-bottom: 4px solid $main-color;
                border-right: 4px solid $main-color;
                transition: 350ms ease-in-out;
            }  
        }
        .landing-photo {
            width: 38vmax;
            height: 38vmax;
            background-image: url(../assets/images/wrapper1.jpg);
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            transform: skewX(-8deg);
        }
    }
    .goUp-button{
        width: 2vmax;
        height: 2vmax;
        background-color: $white;
        border-radius: 50%;
        padding: 0.5vmax;
        position: fixed;
        bottom: 3vmax;
        right: 2vmax;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -2px 2px 15px -5px rgba(0, 0, 0, 1);
        cursor: pointer;
        transition: 500ms ease;
        &:hover{
            transform: rotate(360deg);
        }
        img{
            width: 60%;
            height: 60%;
            transform: rotate(180deg);
        }
    }
}

.aboutMe-wrapper{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/bg1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .aboutMe-photo{
        width: 25vmax;
        height: 30vmax;
        background-image: url(../assets/images/photo1.jpg);
        background-position: top;
        background-size: cover;
        border-radius: 25%;
    }
    .aboutMe-content{
        width: 35%;
        margin-right: 5%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            font-size: 2.4vmax;
            font-weight: 500;
            a{
                color: $main-color;
            }
        }
        h3{
            font-size: 1.1vmax;
            font-weight: 400;
            a{
                color: $main-color;
                font-weight: 500;
            }
        }
            a{
                text-decoration: none;
                .aboutMe-content-button{
                    position: relative;
                    margin-top: 3vmax;
                    padding: 1.3vmax 2vmax;
                    background-color: $white;  
                    transition: 350ms ease-in-out;
                    cursor: pointer;
                p{
                    width: 100%;
                    margin: 0;
                    color: $main-color;
                    font-size: 1.2vmax;
                    font-weight: 500;
                    transition: 350ms ease-in-out;
                }
            }
        }
        .aboutMe-content-button:hover{
            background-color: $main-color;
            p{
                color: $white;
            }
            &::after,
            &::before{
                display: none;
            }
        }
        .aboutMe-content-button::after{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 60%;
            height: 55%;
            border-top: 4px solid $main-color;
            border-left: 4px solid $main-color;
            transition:350ms ease-in-out;
        }
        .aboutMe-content-button::before{
            content: '';
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
            width: 60%;
            height: 55%;
            border-bottom: 4px solid $main-color;
            border-right: 4px solid $main-color;
            transition: 350ms ease-in-out;
        }
    }
}

.standOut-wrapper{
    width: 100%;
    padding: 7vmax 0;
    background-image: url(../assets/images/bg2.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
        .boxes{
            width: 100%;
            padding: 0 10%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 5%;
            .standOut-box{
                width: 90%;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 2vmax 0;
                box-shadow: -1px 1px 25px -15px rgba(0, 0, 0, 1);
                border-radius: 20px;
                .standOut-icon{
                    width: 6vmax;
                    height: 6vmax;
                    background-position: center;
                    background-size: cover;
                }
                .so-box-icon1{
                    background-image: url(../assets/icons/standout-icon1.svg);
                }
                .so-box-icon2{
                    background-image: url(../assets/icons/standout-icon2.svg);
                }
                .so-box-icon3{
                    background-image: url(../assets/icons/standout-icon3.svg);
                }
                .so-box-icon4{
                    background-image: url(../assets/icons/standout-icon4.svg);
                }

                .standOut-title{
                    color: $main-color;
                    font-size: 1.6vmax;
                    margin: 1.5vmax 0 1vmax 0;
                    font-weight: 500;
                    
                }
                .standOut-description{
                    text-align: center;
                    width: 95%;
                    color: black;
                    font-size: 0.9vmax;
                    font-weight: 400;
                }
            }  
        }
}

.websites-wrapper{
    width: 100%;
   padding: 8vmax 0;
    background-image: url(../assets/images/bg3.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;  
    align-items: center;
    .websites-text{
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: 3vmax;
            font-weight: 600;
            a{
                color: $main-color;
            }
        }
        p{
            width: 85%;
            margin: 2vmax auto;
            font-size: 1.2vmax;
            line-height: 1.5vmax;
            a{
                color: $main-color;
            }
        }
        
            a{
                text-decoration: none;
                .websites-button{
                    position: relative;
                    margin-top: 2vmax;
                    padding: 1.3vmax 2vmax;
                    background-color: $white;  
                    transition: 350ms ease-in-out;
                    cursor: pointer;
                p{
                    width: 100%;
                    margin: 0;
                    color: $main-color;
                    font-size: 1.2vmax;
                    font-weight: 500;
                    transition: 350ms ease-in-out;
                }
            }
        }
        .websites-button:hover{
            background-color: $main-color;
            p{
                color: $white;
            }
            &::after,
            &::before{
                display: none;
            }
        }
        .websites-button::after{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 60%;
            height: 55%;
            border-top: 4px solid $main-color;
            border-left: 4px solid $main-color;
            transition:350ms ease-in-out;
        }
        .websites-button::before{
            content: '';
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
            width: 60%;
            height: 55%;
            border-bottom: 4px solid $main-color;
            border-right: 4px solid $main-color;
            transition: 350ms ease-in-out;
        }  
    }
    .websites-container{
        width: 30vmax;
        height: 30vmax;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vmax;
        .websites-box{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            padding: 1vmax 0;
            background-color: $white;
            box-shadow: -1px 1px 25px -15px rgba(0, 0, 0, 1);
            border-radius: 20px;
            .websites-icon{
                width: 4vmax;
                height: 4vmax;
                background-position: center;
                background-size: cover;
            }
            .web-box-icon1{
                background-image: url(../assets/icons/websites-icon1.svg);
            }
            .web-box-icon2{
                background-image: url(../assets/icons/websites-icon2.svg);
            }
            .web-box-icon3{
                background-image: url(../assets/icons/websites-icon3.svg);
            }
            .web-box-icon4{
                background-image: url(../assets/icons/websites-icon4.svg);
            }
            .websites-title{
                font-size: 1.2vmax;
                font-weight: 500;
                color: $main-color;
            }
            .websites-description {
                font-size: 0.8vmax;
                width: 85%;
            }
        }
    }
}

.about-colaboration-wrapper{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-image: url(../assets/images/bg4.png);
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .colaboration-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-weight: 500;
            font-size: 2vmax;
            a{
                color: $main-color;
            }
        }
        .colaboration-dropdown{
            width: 30vmax;
            margin-top: 3vmax;
            .dropdown-item{
                margin: 0.7vmax 0;
                padding: 0.5vmax 2vmax;
                background-color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: -1px 1px 25px -15px rgba(0, 0, 0, 1);
                cursor: pointer;
                .dropdown-item-section{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3{
                        font-weight: 500;
                        font-size: 1.4vmax;
                        color: $main-color;
                    }
                    .dropdown-title{
                        color: black;
                        font-size: 1.2vmax;  
                        font-weight: 400; 
                    }
                    .dropdown-icon{
                        width: 1.5vmax;
                        height: 1.5vmax;
                        background-image: url(../assets/icons/arrow-icon.svg);
                        background-position: center;
                        background-size: cover;
                        transition: 200ms ease;
                    }
                }
                .dropdown-description{
                    width: 100%;
                    height: 0;
                    transform:scaleY(0);
                    transform-origin:top;
                    text-align: center;    
                    padding: 0;
                    transition: 200ms ease;
                    p{
                        font-weight: 400;
                        font-size: 0.9vmax;
                    }
                }
            }
            .active{
                .dropdown-item-section{
                    border-bottom: 2px solid $main-color;
                }
                .dropdown-icon{
                    transform: rotate(180deg);
                }
                .dropdown-description{
                    padding: 1.5vmax 1vmax;
                    height: auto;
                    transform:scaleY(1);
                    transition: 200ms ease;
                }
            }
        }
    }
    .colaboration-photo{
        width: 25vmax;
        height: 30vmax;
        background-image: url(../assets/images/photo2.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 25%;
    }
}

.portfolio-wrapper{
    width: 100%;
    padding: 0 0 10vmax 0;
    background-image: url(../assets/images/bg5.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h2{
        font-size: 2.4vmax;
        font-weight: 500;
        a{
            color: $main-color;
        }
    }
    .portfolio-container{
        width: 80%;
        margin-top: 5vmax;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4vmax;
        .portfolio-item{
            width: 100%;
            background-color: $white;
            display: flex;
            border-radius: 20px;
            box-shadow: -1px 1px 25px -15px rgba(0, 0, 0, 1);
            .portfolio-content{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: space-around;
                h3{
                    font-size: 1.4vmax;
                    font-weight: 500;
                    color: $main-color;
                    margin-top: 2vmax;
                }
                p{
                    width: 80%;
                    font-weight: 300;
                    font-size: 0.9vmax;
                    margin-top: 2vmax;
                }
                .portfolio-content-button{
                    width: 100%;
                    font-size: 1vmax;
                    padding: 0.5vmax 0;
                    margin-top: 3vmax;
                    background-color: $main-color;
                    color: $white;
                    border-bottom-left-radius: 20px;
                    cursor: pointer;
                }
            }
            .portfolio-photo{
                width: 50%;
                height: 100%;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background-color: brown;
            }
        }
    }
}

.contact-wrapper{
    width: 100%;
    background-color: rgb(30,30,30);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 3vmax;
    .contact-title{
        padding: 1vmax 5vmax ;
        background-color: $main-color;
        color: $white;
        font-size: 2.4vmax;
        border-top-right-radius: 200px;
        border-bottom-right-radius: 200px;
        margin-top: 5vmax;
    }
    .contact-container{
        width: 80%;
        margin: 4vmax auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .contact-form-container{
            width: 45%;
            .contact-form{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(6, 1fr);
                grid-gap: 2vmax;
                .form-field{
                    border: none;
                    outline: none;
                    font-size: 1vmax;
                    padding: 0.5vmax 1vmax;
                }
                .email-field{
                    grid-row: 2/3;
                    grid-column: 1/3;
                }
                .msg-field{
                    grid-row: 3/6;
                    grid-column: 1/3;
                    resize: none;
                }
                .form-button{
                    background-color: $main-color;
                    color: $white;
                    grid-column: 2/3;
                    display: grid;
                    align-items: center;
                    margin-left: auto;
                    border: none;
                    font-size: 1vmax;
                    padding: 1vmax 3vmax;
                    cursor: pointer;
                }
            }
        }
        .contact-spacer{
            width: 4px;
            height: 30vmax;
            margin-top: -5vmax;
            background-color: $white;
        }
        .contact-socials{
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .socials{
                background-color: $white;
                margin: 1vmax;
                padding: 1vmax 3vmax;
                font-size: 1.2vmax;
                color: black;
                cursor: pointer;
            }
            .mail{
                border-left: 20px solid $main-color;
                cursor: auto;
                a{
                    color: $main-color;
                }
            }
            
            .facebook{
                border-left: 20px solid #3b5998;
                transition: 250ms ease-in;
                &:hover{
                    color: $white;
                    background-color: #3b5998;
                }
            }
            .instagram{
                border-left: 20px solid #C13584;
                transition: 250ms ease-in;
                &:hover{
                    color: $white;
                    background-color: #C13584;
                }
            }
        }
    }
}

.footer{
    width: 100%;
    padding: 0.5vmax 0;
    color: $white;
    background-color: $main-color;
    letter-spacing: 0.5vmax;
    text-align: center;
}