$white: rgba(250, 250, 250,1);
$main-color: #27AE60;

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes swing {
    20% {
        background-color: darkmagenta;
    }

    100% {
        background-color: darkolivegreen;
    }

}


.landing-wrapper{
    width: 100%;
    height: 100vh;
    background-color: chartreuse;
    nav{
        width: 100%;
        height: 8%;
        background-color: darkkhaki;
    }
    .landing-contener {
        width: 100%;
        height: 92%;
        background-color: $white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .landing-content{
            margin-left: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            transform: skewX(-8deg);
            h1{
                font-size: 5.5vmax;
                text-transform: uppercase;
                font-weight: 500;
                line-height: 140%;
                a{
                    color: $main-color;
                }
            }
            h2{
                margin-top: 2vmax;
                font-size: 1.2vmax;
                font-weight: 500;
                line-height: 150%;
                a{
                    color: $main-color;
                }
            }
            .landing-button{
                position: relative;
                margin-top: 4vmax;
                padding: 1.3vmax 4vmax;
                background-color: $white;  
                transition: 350ms ease-in-out;
                cursor: pointer;
                p{
                    color: $main-color;
                    font-size: 1.4vmax;
                    font-weight: 500;
                    transition: 350ms ease-in-out;
                }
            }
            .landing-button:hover{
                background-color: $main-color;
                p{
                    color: $white;
                }
                &::after,
                &::before{
                    display: none;
                }
            }
            .landing-button::after{
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 60%;
                height: 55%;
                border-top: 4px solid $main-color;
                border-left: 4px solid $main-color;
                transition:350ms ease-in-out;
            }
            .landing-button::before{
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                right: 0;
                width: 60%;
                height: 55%;
                border-bottom: 4px solid $main-color;
                border-right: 4px solid $main-color;
                transition: 350ms ease-in-out;
            }  
        }
        .landing-photo {
            width: 38vmax;
            height: 38vmax;
            background-image: url(../assets/images/wrapper1.jpg);
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            transform: skewX(-8deg);
        }
    }
}

.aboutMe-wrapper{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/bg1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .aboutMe-photo{
        width: 25vmax;
        height: 30vmax;
        background-image: url(../assets/images/photo1.jpg);
        background-position: top;
        background-size: cover;
        border-radius: 25%;
    }
    .aboutMe-content{
        width: 35%;
        margin-right: 5%;
        text-align: center;
        h1{
            font-size: 2.3vmax;
            font-weight: 500;
            a{
                color: $main-color;
            }
        }
        h3{
            font-size: 1.1vmax;
            font-weight: 400;
            a{
                color: $main-color;
                font-weight: 500;
            }
        }
    }
}

.standOut-wrapper{
    width: 100%;
    padding: 7vmax 0;
    background-image: url(../assets/images/bg2.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: violet;
        .boxes{
            width: 100%;
            padding: 0 10%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 5%;
            .standOut-box{
                width: 90%;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 2vmax 0;
                box-shadow: -1px 1px 25px -15px rgba(0, 0, 0, 1);
                border-radius: 20px;
                .standOut-icon{
                    width: 6vmax;
                    height: 6vmax;
                    background-position: center;
                    background-size: cover;
                }
                .so-box-icon1{
                    background-image: url(../assets/icons/standout-icon1.svg);
                }
                .so-box-icon2{
                    background-image: url(../assets/icons/standout-icon2.svg);
                }
                .so-box-icon3{
                    background-image: url(../assets/icons/standout-icon3.svg);
                }
                .so-box-icon4{
                    background-image: url(../assets/icons/standout-icon4.svg);
                }

                .standOut-title{
                    color: $main-color;
                    font-size: 1.6vmax;
                    margin: 1.5vmax 0 1vmax 0;
                    font-weight: 500;
                    
                }
                .standOut-description{
                    text-align: center;
                    width: 95%;
                    color: black;
                    font-size: 0.9vmax;
                    font-weight: 400;
                }
            }  
        }
}

.websites-wrapper{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/bg3.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;  
    align-items: center;
    .websites-text{
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: 3vmax;
            font-weight: 600;
            a{
                color: $main-color;
            }
        }
        p{
            width: 85%;
            margin: 2vmax auto;
            font-size: 1.2vmax;
            line-height: 1.5vmax;
            a{
                color: $main-color;
            }
        }
        .websites-button{
            position: relative;
            margin-top: 2vmax;
            padding: 1.3vmax 2vmax;
            background-color: $white;  
            transition: 350ms ease-in-out;
            cursor: pointer;
            transform: skewX(-8deg);
            p{
                width: 100%;
                margin: 0;
                color: $main-color;
                font-size: 1.2vmax;
                font-weight: 500;
                transition: 350ms ease-in-out;
            }
        }
        .websites-button:hover{
            background-color: $main-color;
            p{
                color: $white;
            }
            &::after,
            &::before{
                display: none;
            }
        }
        .websites-button::after{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 60%;
            height: 55%;
            border-top: 4px solid $main-color;
            border-left: 4px solid $main-color;
            transition:350ms ease-in-out;
        }
        .websites-button::before{
            content: '';
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
            width: 60%;
            height: 55%;
            border-bottom: 4px solid $main-color;
            border-right: 4px solid $main-color;
            transition: 350ms ease-in-out;
        }  
    }
    .websites-container{
        width: 30vmax;
        height: 30vmax;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vmax;
        .websites-box{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            padding: 1vmax 0;
            background-color: $white;
            box-shadow: -1px 1px 25px -15px rgba(0, 0, 0, 1);
            border-radius: 20px;
            .websites-icon{
                width: 4vmax;
                height: 4vmax;
                background-position: center;
                background-size: cover;
            }
            .web-box-icon1{
                background-image: url(../assets/icons/websites-icon1.svg);
            }
            .web-box-icon2{
                background-image: url(../assets/icons/websites-icon2.svg);
            }
            .web-box-icon3{
                background-image: url(../assets/icons/websites-icon3.svg);
            }
            .web-box-icon4{
                background-image: url(../assets/icons/websites-icon4.svg);
            }
            .websites-title{
                font-size: 1.2vmax;
                font-weight: 500;
                color: $main-color;
            }
            .websites-description {
                font-size: 0.8vmax;
                width: 85%;
            }
        }
    }
}