* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.landing-wrapper {
  width: 100%;
  height: 100vh;
}

.landing-wrapper .navBar {
  width: 100%;
  height: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fafafa;
}

.landing-wrapper .navBar .navBarLogo {
  font-size: 3vmax;
  font-weight: 500;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .navBar .navBarLogo {
    font-size: 4vmax;
  }
}

.landing-wrapper .navBar .navBarLogo a {
  color: #27AE60;
}

.landing-wrapper .navBar .menu {
  display: block;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .navBar .menu {
    position: absolute;
    padding: 5vmax 0;
    top: 100%;
    width: 100%;
    z-index: 999;
    background-color: #27AE60;
    height: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: 350ms ease;
    transition: 350ms ease;
  }
}

.landing-wrapper .navBar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .navBar .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.landing-wrapper .navBar .menu ul li {
  margin: 0 1vmax;
  font-size: 1.2vmax;
  padding: 0.5vmax 1vmax;
  cursor: pointer;
  position: relative;
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .navBar .menu ul li {
    padding: 4vmax 0;
    font-size: 2vmax;
    height: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: 50ms ease;
    transition: 50ms ease;
  }
}

.landing-wrapper .navBar .menu ul li::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0px;
  height: 2px;
  background-color: #27AE60;
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
}

.landing-wrapper .navBar .menu ul .item-active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  height: unset;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.landing-wrapper .navBar .menu ul .menu-about:hover::before,
.landing-wrapper .navBar .menu ul .menu-offer:hover::before,
.landing-wrapper .navBar .menu ul .menu-portfolio:hover::before,
.landing-wrapper .navBar .menu ul .menu-contact:hover::before {
  width: 80%;
}

.landing-wrapper .navBar .menu ul .menu-contact {
  color: #27AE60;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .navBar .menu ul .menu-contact {
    color: white;
  }
}

.landing-wrapper .navBar .menu-active,
.landing-wrapper .navBar .item-active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  height: unset;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.landing-wrapper .navBar .menu-mobile-button {
  width: 3vmax;
  height: 3vmax;
  background-image: url(../assets/icons/menu-open-icon.svg);
  background-position: center;
  background-size: cover;
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
  display: none;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .navBar .menu-mobile-button {
    display: block;
  }
}

.landing-wrapper .navBar .btn-active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url(../assets/icons/menu-close-icon.svg);
}

.landing-wrapper .landing-contener {
  width: 100%;
  height: 90%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .landing-contener {
    background-image: url(../assets/images/wrapper1mob.jpg);
    background-position: center;
    background-size: cover;
  }
}

.landing-wrapper .landing-contener .landing-content {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: skewX(-8deg);
          transform: skewX(-8deg);
}

@media screen and (orientation: portrait) {
  .landing-wrapper .landing-contener .landing-content {
    margin: 0;
    height: 60%;
    -webkit-transform: skewX(0);
            transform: skewX(0);
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landing-wrapper .landing-contener .landing-content h1 {
  font-size: 5.5vmax;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 140%;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .landing-contener .landing-content h1 {
    font-size: 7vmax;
  }
}

@media screen and (max-width: 500px) {
  .landing-wrapper .landing-contener .landing-content h1 {
    font-size: 5.5vmax;
  }
}

.landing-wrapper .landing-contener .landing-content h1 a {
  color: #27AE60;
}

.landing-wrapper .landing-contener .landing-content h2 {
  margin-top: 2vmax;
  font-size: 1.2vmax;
  font-weight: 500;
  line-height: 150%;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .landing-contener .landing-content h2 {
    font-size: 2vmax;
    margin-top: 3vmax;
  }
}

@media screen and (max-width: 500px) {
  .landing-wrapper .landing-contener .landing-content h2 {
    width: 90%;
  }
  .landing-wrapper .landing-contener .landing-content h2 .todelete {
    display: none;
  }
}

.landing-wrapper .landing-contener .landing-content h2 a {
  color: #27AE60;
}

.landing-wrapper .landing-contener .landing-content .landing-button {
  position: relative;
  margin-top: 4vmax;
  padding: 1.3vmax 4vmax;
  background-color: #fafafa;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .landing-contener .landing-content .landing-button {
    padding: 2.5vmax 6vmax;
    margin-top: 8vmax;
    background-color: unset;
  }
}

.landing-wrapper .landing-contener .landing-content .landing-button p {
  color: #27AE60;
  font-size: 1.4vmax;
  font-weight: 500;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .landing-contener .landing-content .landing-button p {
    font-size: 2.5vmax;
    margin-left: auto;
    margin-right: auto;
  }
}

.landing-wrapper .landing-contener .landing-content .landing-button:hover {
  background-color: #27AE60;
}

.landing-wrapper .landing-contener .landing-content .landing-button:hover p {
  color: #fafafa;
}

.landing-wrapper .landing-contener .landing-content .landing-button:hover::after, .landing-wrapper .landing-contener .landing-content .landing-button:hover::before {
  display: none;
}

.landing-wrapper .landing-contener .landing-content .landing-button::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 60%;
  height: 55%;
  border-top: 4px solid #27AE60;
  border-left: 4px solid #27AE60;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.landing-wrapper .landing-contener .landing-content .landing-button::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 55%;
  border-bottom: 4px solid #27AE60;
  border-right: 4px solid #27AE60;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.landing-wrapper .landing-contener .landing-photo {
  width: 38vmax;
  height: 38vmax;
  background-image: url(../assets/images/wrapper1.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  -webkit-transform: skewX(-8deg);
          transform: skewX(-8deg);
}

@media screen and (orientation: portrait) {
  .landing-wrapper .landing-contener .landing-photo {
    display: none;
  }
}

.landing-wrapper #goUp-button {
  width: 2vmax;
  height: 2vmax;
  background-color: #fafafa;
  border-radius: 50%;
  padding: 0.5vmax;
  position: fixed;
  bottom: 3vmax;
  right: 2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: -2px 2px 15px -5px black;
          box-shadow: -2px 2px 15px -5px black;
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

@media screen and (orientation: portrait) {
  .landing-wrapper #goUp-button {
    width: 4vmax;
    height: 4vmax;
    bottom: 4vmax;
    right: 3vmax;
  }
}

@media screen and (max-width: 500px) {
  .landing-wrapper #goUp-button {
    width: 5vmax;
    height: 5vmax;
    bottom: 5vmax;
    right: 4vmax;
  }
}

.landing-wrapper #goUp-button:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.landing-wrapper #goUp-button img {
  width: 60%;
  height: 60%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.aboutMe-wrapper {
  width: 100%;
  padding: 10% 0;
  background-image: url(../assets/images/bg1.png);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (orientation: portrait) {
  .aboutMe-wrapper {
    padding: 0 0 10% 0;
    background-color: #fafafa;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aboutMe-wrapper .aboutMe-photo {
  width: 25vmax;
  height: 30vmax;
  background-image: url(../assets/images/photo1.jpg);
  background-position: top;
  background-size: cover;
  border-radius: 25%;
}

@media screen and (orientation: portrait) {
  .aboutMe-wrapper .aboutMe-photo {
    width: 100%;
    height: 40vmax;
    border-radius: 0;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.aboutMe-wrapper .aboutMe-content {
  width: 35%;
  margin-right: 5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: portrait) {
  .aboutMe-wrapper .aboutMe-content {
    width: 80%;
    margin: 5vmax 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .aboutMe-wrapper .aboutMe-content {
    width: 90%;
  }
}

.aboutMe-wrapper .aboutMe-content h1 {
  font-size: 2.4vmax;
  font-weight: 500;
}

@media screen and (orientation: portrait) {
  .aboutMe-wrapper .aboutMe-content h1 {
    font-size: 4.5vmax;
  }
}

.aboutMe-wrapper .aboutMe-content h1 a {
  color: #27AE60;
}

.aboutMe-wrapper .aboutMe-content h3 {
  font-size: 1.1vmax;
  font-weight: 400;
}

@media screen and (orientation: portrait) {
  .aboutMe-wrapper .aboutMe-content h3 {
    font-size: 2vmax;
    margin-top: 3vmax;
  }
}

@media screen and (max-width: 500px) {
  .aboutMe-wrapper .aboutMe-content h3 {
    width: 95%;
  }
}

.aboutMe-wrapper .aboutMe-content h3 a {
  color: #27AE60;
  font-weight: 500;
}

.aboutMe-wrapper .aboutMe-content a {
  text-decoration: none;
}

.aboutMe-wrapper .aboutMe-content a .aboutMe-content-button {
  position: relative;
  margin-top: 3vmax;
  padding: 1.3vmax 2vmax;
  background-color: #fafafa;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .aboutMe-wrapper .aboutMe-content a .aboutMe-content-button {
    margin-top: 8vmax;
    padding: 2vmax 3vmax;
  }
}

@media screen and (max-width: 500px) {
  .aboutMe-wrapper .aboutMe-content a .aboutMe-content-button {
    padding: 3vmax 4vmax;
  }
}

.aboutMe-wrapper .aboutMe-content a .aboutMe-content-button p {
  width: 100%;
  margin: 0;
  color: #27AE60;
  font-size: 1.2vmax;
  font-weight: 500;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

@media screen and (orientation: portrait) {
  .aboutMe-wrapper .aboutMe-content a .aboutMe-content-button p {
    font-size: 2vmax;
  }
}

.aboutMe-wrapper .aboutMe-content .aboutMe-content-button:hover {
  background-color: #27AE60;
}

.aboutMe-wrapper .aboutMe-content .aboutMe-content-button:hover p {
  color: #fafafa;
}

.aboutMe-wrapper .aboutMe-content .aboutMe-content-button:hover::after, .aboutMe-wrapper .aboutMe-content .aboutMe-content-button:hover::before {
  display: none;
}

.aboutMe-wrapper .aboutMe-content .aboutMe-content-button::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 60%;
  height: 55%;
  border-top: 4px solid #27AE60;
  border-left: 4px solid #27AE60;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.aboutMe-wrapper .aboutMe-content .aboutMe-content-button::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 55%;
  border-bottom: 4px solid #27AE60;
  border-right: 4px solid #27AE60;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.standOut-wrapper {
  width: 100%;
  padding: 7vmax 0;
  background-image: url(../assets/images/bg2.png);
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: portrait) {
  .standOut-wrapper {
    background-color: #fafafa;
    background-image: none;
  }
}

.standOut-wrapper .boxes {
  width: 100%;
  padding: 0 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
}

@media screen and (orientation: portrait) {
  .standOut-wrapper .boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .standOut-wrapper .boxes {
    padding: 0 5%;
  }
}

.standOut-wrapper .boxes .standOut-box {
  width: 90%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vmax 0;
  -webkit-box-shadow: -1px 1px 25px -15px black;
          box-shadow: -1px 1px 25px -15px black;
  border-radius: 20px;
}

@media screen and (orientation: portrait) {
  .standOut-wrapper .boxes .standOut-box {
    padding: 4vmax 0;
  }
}

@media screen and (max-width: 500px) {
  .standOut-wrapper .boxes .standOut-box {
    width: 100%;
  }
}

.standOut-wrapper .boxes .standOut-box .standOut-icon {
  width: 6vmax;
  height: 6vmax;
  background-position: center;
  background-size: cover;
}

@media screen and (orientation: portrait) {
  .standOut-wrapper .boxes .standOut-box .standOut-icon {
    width: 8vmax;
    height: 8vmax;
  }
}

.standOut-wrapper .boxes .standOut-box .so-box-icon1 {
  background-image: url(../assets/icons/standout-icon1.svg);
}

.standOut-wrapper .boxes .standOut-box .so-box-icon2 {
  background-image: url(../assets/icons/standout-icon2.svg);
}

.standOut-wrapper .boxes .standOut-box .so-box-icon3 {
  background-image: url(../assets/icons/standout-icon3.svg);
}

.standOut-wrapper .boxes .standOut-box .so-box-icon4 {
  background-image: url(../assets/icons/standout-icon4.svg);
}

.standOut-wrapper .boxes .standOut-box .standOut-title {
  color: #27AE60;
  font-size: 1.6vmax;
  margin: 1.5vmax 0 1vmax 0;
  font-weight: 500;
}

@media screen and (orientation: portrait) {
  .standOut-wrapper .boxes .standOut-box .standOut-title {
    font-size: 2.2vmax;
    margin: 2.5vmax 0 2vmax 0;
  }
}

.standOut-wrapper .boxes .standOut-box .standOut-description {
  text-align: center;
  width: 95%;
  color: black;
  font-size: 0.9vmax;
  font-weight: 400;
}

@media screen and (orientation: portrait) {
  .standOut-wrapper .boxes .standOut-box .standOut-description {
    font-size: 1.4vmax;
    width: 90%;
  }
}

.websites-wrapper {
  width: 100%;
  padding: 8vmax 0;
  background-image: url(../assets/images/bg3.png);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: portrait) {
  .websites-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fafafa;
    background-image: none;
  }
}

.websites-wrapper .websites-text {
  width: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: portrait) {
  .websites-wrapper .websites-text {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .websites-wrapper .websites-text {
    width: 90%;
  }
}

.websites-wrapper .websites-text h2 {
  font-size: 3vmax;
  font-weight: 600;
}

@media screen and (orientation: portrait) {
  .websites-wrapper .websites-text h2 {
    font-size: 4.5vmax;
  }
}

.websites-wrapper .websites-text h2 a {
  color: #27AE60;
}

.websites-wrapper .websites-text p {
  width: 85%;
  margin: 2vmax auto;
  font-size: 1.2vmax;
  line-height: 1.5vmax;
}

@media screen and (orientation: portrait) {
  .websites-wrapper .websites-text p {
    width: 100%;
    font-size: 2vmax;
    line-height: unset;
  }
}

.websites-wrapper .websites-text p a {
  color: #27AE60;
}

.websites-wrapper .websites-text a {
  text-decoration: none;
}

.websites-wrapper .websites-text a .websites-button {
  position: relative;
  margin-top: 2vmax;
  padding: 1.3vmax 2vmax;
  background-color: #fafafa;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .websites-wrapper .websites-text a .websites-button {
    margin-top: 8vmax;
    padding: 2vmax 3vmax;
  }
}

@media screen and (max-width: 500px) {
  .websites-wrapper .websites-text a .websites-button {
    padding: 3vmax 4vmax;
  }
}

.websites-wrapper .websites-text a .websites-button p {
  width: 100%;
  margin: 0;
  color: #27AE60;
  font-size: 1.2vmax;
  font-weight: 500;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

@media screen and (orientation: portrait) {
  .websites-wrapper .websites-text a .websites-button p {
    font-size: 2vmax;
  }
}

.websites-wrapper .websites-text .websites-button:hover {
  background-color: #27AE60;
}

.websites-wrapper .websites-text .websites-button:hover p {
  color: #fafafa;
}

.websites-wrapper .websites-text .websites-button:hover::after, .websites-wrapper .websites-text .websites-button:hover::before {
  display: none;
}

.websites-wrapper .websites-text .websites-button::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 60%;
  height: 55%;
  border-top: 4px solid #27AE60;
  border-left: 4px solid #27AE60;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.websites-wrapper .websites-text .websites-button::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 55%;
  border-bottom: 4px solid #27AE60;
  border-right: 4px solid #27AE60;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.websites-wrapper .websites-container {
  width: 30vmax;
  height: 30vmax;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2vmax;
}

@media screen and (orientation: portrait) {
  .websites-wrapper .websites-container {
    width: 80%;
    height: unset;
    margin-top: 15%;
  }
}

@media screen and (max-width: 500px) {
  .websites-wrapper .websites-container {
    width: 90%;
    margin-top: 10vmax;
  }
}

.websites-wrapper .websites-container .websites-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 1vmax 0;
  background-color: #fafafa;
  -webkit-box-shadow: -1px 1px 25px -15px black;
          box-shadow: -1px 1px 25px -15px black;
  border-radius: 20px;
}

@media screen and (orientation: portrait) {
  .websites-wrapper .websites-container .websites-box {
    padding: 4vmax 0;
  }
}

.websites-wrapper .websites-container .websites-box .websites-icon {
  width: 4vmax;
  height: 4vmax;
  background-position: center;
  background-size: cover;
}

@media screen and (orientation: portrait) {
  .websites-wrapper .websites-container .websites-box .websites-icon {
    width: 6vmax;
    height: 6vmax;
  }
}

.websites-wrapper .websites-container .websites-box .web-box-icon1 {
  background-image: url(../assets/icons/websites-icon1.svg);
}

.websites-wrapper .websites-container .websites-box .web-box-icon2 {
  background-image: url(../assets/icons/websites-icon2.svg);
}

.websites-wrapper .websites-container .websites-box .web-box-icon3 {
  background-image: url(../assets/icons/websites-icon3.svg);
}

.websites-wrapper .websites-container .websites-box .web-box-icon4 {
  background-image: url(../assets/icons/websites-icon4.svg);
}

.websites-wrapper .websites-container .websites-box .websites-title {
  font-size: 1.2vmax;
  font-weight: 500;
  color: #27AE60;
}

@media screen and (orientation: portrait) {
  .websites-wrapper .websites-container .websites-box .websites-title {
    font-size: 2.2vmax;
    margin: 2.5vmax 0 2vmax 0;
  }
}

.websites-wrapper .websites-container .websites-box .websites-description {
  font-size: 0.8vmax;
  width: 85%;
}

@media screen and (orientation: portrait) {
  .websites-wrapper .websites-container .websites-box .websites-description {
    font-size: 1.4vmax;
    width: 90%;
  }
}

.about-colaboration-wrapper {
  width: 100%;
  padding: 12% 0;
  background-image: url(../assets/images/bg4.png);
  background-position: top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper {
    background-color: #fafafa;
    background-image: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-colaboration-wrapper .colaboration-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper .colaboration-content {
    margin-top: 6vmax;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.about-colaboration-wrapper .colaboration-content h2 {
  font-weight: 500;
  font-size: 2vmax;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper .colaboration-content h2 {
    font-size: 4vmax;
  }
}

.about-colaboration-wrapper .colaboration-content h2 a {
  color: #27AE60;
}

.about-colaboration-wrapper .colaboration-content .colaboration-dropdown {
  width: 30vmax;
  margin-top: 3vmax;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper .colaboration-content .colaboration-dropdown {
    margin-top: 5vmax;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .about-colaboration-wrapper .colaboration-content .colaboration-dropdown {
    width: 95%;
  }
}

.about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item {
  margin: 0.7vmax 0;
  padding: 0.5vmax 2vmax;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -1px 1px 25px -15px black;
          box-shadow: -1px 1px 25px -15px black;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item {
    margin: 2vmax 0;
    padding: 1vmax 2.5vmax;
  }
}

.about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item .dropdown-item-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item .dropdown-item-section h3 {
  font-weight: 500;
  font-size: 1.4vmax;
  color: #27AE60;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item .dropdown-item-section h3 {
    font-size: 2.4vmax;
  }
}

.about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item .dropdown-item-section .dropdown-title {
  color: black;
  font-size: 1.2vmax;
  font-weight: 400;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item .dropdown-item-section .dropdown-title {
    font-size: 2.2vmax;
  }
}

.about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item .dropdown-item-section .dropdown-icon {
  width: 1.5vmax;
  height: 1.5vmax;
  background-image: url(../assets/icons/arrow-icon.svg);
  background-position: center;
  background-size: cover;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item .dropdown-item-section .dropdown-icon {
    width: 1.8vmax;
    height: 1.8vmax;
  }
}

.about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item .dropdown-description {
  width: 100%;
  height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  text-align: center;
  padding: 0;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item .dropdown-description {
    width: 90%;
  }
}

.about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item .dropdown-description p {
  font-weight: 400;
  font-size: 0.9vmax;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper .colaboration-content .colaboration-dropdown .dropdown-item .dropdown-description p {
    font-size: 1.6vmax;
  }
}

.about-colaboration-wrapper .colaboration-content .colaboration-dropdown .active .dropdown-item-section {
  border-bottom: 2px solid #27AE60;
}

.about-colaboration-wrapper .colaboration-content .colaboration-dropdown .active .dropdown-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.about-colaboration-wrapper .colaboration-content .colaboration-dropdown .active .dropdown-description {
  padding: 1.5vmax 1vmax;
  height: auto;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper .colaboration-content .colaboration-dropdown .active .dropdown-description {
    padding: 2.5vmax 1vmax;
  }
}

.about-colaboration-wrapper .colaboration-photo {
  width: 25vmax;
  height: 30vmax;
  background-image: url(../assets/images/photo2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 25%;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper .colaboration-photo {
    display: none;
  }
}

.about-colaboration-wrapper #mobile-photo {
  display: none;
}

@media screen and (orientation: portrait) {
  .about-colaboration-wrapper #mobile-photo {
    display: block;
    width: 100%;
    height: 40vmax;
    border-radius: 0;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.portfolio-wrapper {
  width: 100%;
  padding: 0 0 10vmax 0;
  background-image: url(../assets/images/bg5.png);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (orientation: portrait) {
  .portfolio-wrapper {
    background-color: #fafafa;
    background-image: none;
  }
}

.portfolio-wrapper h2 {
  font-size: 2.4vmax;
  font-weight: 500;
}

@media screen and (orientation: portrait) {
  .portfolio-wrapper h2 {
    font-size: 4vmax;
  }
}

@media screen and (max-width: 500px) {
  .portfolio-wrapper h2 {
    text-align: center;
  }
}

.portfolio-wrapper h2 a {
  color: #27AE60;
}

.portfolio-wrapper .portfolio-container {
  width: 80%;
  margin-top: 5vmax;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 4vmax;
}

@media screen and (orientation: portrait) {
  .portfolio-wrapper .portfolio-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 75%;
  }
}

.portfolio-wrapper .portfolio-container .portfolio-item {
  width: 100%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 25px -15px black;
          box-shadow: -1px 1px 25px -15px black;
}

@media screen and (max-width: 500px) {
  .portfolio-wrapper .portfolio-container .portfolio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio-wrapper .portfolio-container .portfolio-item .portfolio-content {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  right: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 500px) {
  .portfolio-wrapper .portfolio-container .portfolio-item .portfolio-content {
    width: 100%;
    right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.portfolio-wrapper .portfolio-container .portfolio-item .portfolio-content h3 {
  font-size: 1.4vmax;
  font-weight: 500;
  color: #27AE60;
  margin-top: 2vmax;
}

@media screen and (orientation: portrait) {
  .portfolio-wrapper .portfolio-container .portfolio-item .portfolio-content h3 {
    font-size: 2.2vmax;
    margin-top: 4vmax;
  }
}

@media screen and (max-width: 500px) {
  .portfolio-wrapper .portfolio-container .portfolio-item .portfolio-content h3 {
    font-size: 2.5vmax;
  }
}

.portfolio-wrapper .portfolio-container .portfolio-item .portfolio-content p {
  width: 80%;
  font-weight: 300;
  font-size: 0.9vmax;
  margin-top: 2vmax;
}

@media screen and (orientation: portrait) {
  .portfolio-wrapper .portfolio-container .portfolio-item .portfolio-content p {
    margin-top: 4vmax;
    font-size: 1.5vmax;
  }
}

@media screen and (max-width: 500px) {
  .portfolio-wrapper .portfolio-container .portfolio-item .portfolio-content p {
    font-size: 1.8vmax;
    margin-top: 2vmax;
  }
}

.portfolio-wrapper .portfolio-container .portfolio-item .portfolio-content .portfolio-content-button {
  width: 100%;
  font-size: 1vmax;
  padding: 0.5vmax 0;
  margin-top: 3vmax;
  background-color: #27AE60;
  color: #fafafa;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .portfolio-wrapper .portfolio-container .portfolio-item .portfolio-content .portfolio-content-button {
    margin-top: 5vmax;
    font-size: 1.5vmax;
    border-bottom-right-radius: 20px;
    margin-top: 4vmax;
  }
}

@media screen and (max-width: 500px) {
  .portfolio-wrapper .portfolio-container .portfolio-item .portfolio-content .portfolio-content-button {
    font-size: 1.8vmax;
    padding: 1vmax 0;
    margin-top: 2vmax;
  }
}

.portfolio-wrapper .portfolio-container .portfolio-item .portfolio-photo {
  position: relative;
  left: 50%;
  width: 50%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: brown;
}

@media screen and (max-width: 500px) {
  .portfolio-wrapper .portfolio-container .portfolio-item .portfolio-photo {
    width: 100%;
    height: 15vmax;
    left: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
  }
}

.contact-wrapper {
  width: 100%;
  background-color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 3vmax;
}

.contact-wrapper .contact-title {
  padding: 1vmax 5vmax;
  background-color: #27AE60;
  color: #fafafa;
  font-size: 2.4vmax;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  margin-top: 5vmax;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-title {
    font-size: 4vmax;
  }
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-title {
    font-size: 3vmax;
  }
}

.contact-wrapper .contact-container {
  width: 80%;
  margin: 4vmax auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container {
    width: 90%;
  }
}

.contact-wrapper .contact-container .contact-form-container {
  width: 45%;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-form-container {
    width: 100%;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  grid-gap: 2vmax;
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .form-field {
  border: none;
  outline: none;
  font-size: 1vmax;
  padding: 0.5vmax 1vmax;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .form-field {
    font-size: 1.6vmax;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .name-field {
  display: block;
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .name-field {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .surname-field {
  display: block;
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .surname-field {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .email-field {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .email-field {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .msg-field {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  resize: none;
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .msg-field {
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4/7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .form-button {
  background-color: #27AE60;
  color: #fafafa;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  border: none;
  font-size: 1vmax;
  padding: 1vmax 3vmax;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .form-button {
    font-size: 1.6vmax;
  }
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .form-button {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-wrapper .contact-container .contact-spacer {
  width: 4px;
  height: 30vmax;
  margin-top: -5vmax;
  background-color: #fafafa;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-spacer {
    width: 70%;
    height: 4px;
    margin-top: 5vmax;
  }
}

.contact-wrapper .contact-container .contact-socials {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-socials {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    margin-top: 5vmax;
  }
}

.contact-wrapper .contact-container .contact-socials .socials {
  background-color: #fafafa;
  margin: 1vmax;
  padding: 1vmax 3vmax;
  font-size: 1.2vmax;
  color: black;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-socials .socials {
    width: 80%;
    text-align: center;
    font-size: 1.6vmax;
    padding: 1.5vmax 5vmax;
  }
}

.contact-wrapper .contact-container .contact-socials .mail {
  border-left: 20px solid #27AE60;
  cursor: auto;
}

.contact-wrapper .contact-container .contact-socials .mail a {
  color: #27AE60;
}

.contact-wrapper .contact-container .contact-socials .facebook {
  border-left: 20px solid #3b5998;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.contact-wrapper .contact-container .contact-socials .facebook:hover {
  color: #fafafa;
  background-color: #3b5998;
}

.contact-wrapper .contact-container .contact-socials .instagram {
  border-left: 20px solid #C13584;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.contact-wrapper .contact-container .contact-socials .instagram:hover {
  color: #fafafa;
  background-color: #C13584;
}

.footer {
  width: 100%;
  padding: 0.5vmax 0;
  color: #fafafa;
  background-color: #27AE60;
  letter-spacing: 0.5vmax;
  text-align: center;
  font-size: 0.8vmax;
}

@media screen and (orientation: portrait) {
  .footer {
    font-size: 1.2vmax;
    padding: 1vmax 0;
  }
}
/*# sourceMappingURL=main.css.map */