*{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}

.landing-wrapper{
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    nav{
        position: absolute;
        top: 0;
        width: 100%;
        background-color: azure;
        padding: 1.5vmax 3vmax;
    }
    .landing-title{
        background-color: brown;
    }
    .landing-photo{
        width: 30%;
        height: 60%;
        background-color: coral;
    }
}