* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.landing-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-wrapper .goBackButton {
  position: absolute;
  top: 2vmax;
  left: 0;
  background-color: black;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5vmax 2vmax;
  padding: 0.5vmax 2vmax;
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.landing-wrapper .goBackButton .goBackIcon {
  width: 1.5vmax;
  height: 1.5vmax;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-image: url(../assets/icons/arrow-icon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(194deg) brightness(124%) contrast(96%);
          filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(194deg) brightness(124%) contrast(96%);
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.landing-wrapper .goBackButton p {
  margin-left: 1vmax;
  font-size: 1.2vmax;
  color: #fafafa;
  cursor: pointer;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .goBackButton p {
    font-size: 2vmax;
    margin-left: 2vmax;
  }
}

.landing-wrapper .goBackButton:hover {
  background-color: #27AE60;
  border: 2px solid #27AE60;
}

.landing-wrapper .goBackButton:hover p {
  margin-left: 1.5vmax;
}

.landing-wrapper .goBackButton:hover .goBackIcon {
  margin-left: 1vmax;
}

.landing-wrapper h2 {
  position: relative;
  font-size: 3.4vmax;
  font-weight: 400;
  line-height: 6vmax;
  z-index: 9999;
}

@media screen and (orientation: portrait) {
  .landing-wrapper h2 {
    font-size: 4.5vmax;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .landing-wrapper h2 {
    font-size: 3.5vmax;
  }
}

.landing-wrapper h2 p {
  position: relative;
  text-align: right;
  margin-right: -2vmax;
  z-index: 9999;
}

@media screen and (orientation: portrait) {
  .landing-wrapper h2 p {
    text-align: center;
  }
}

.landing-wrapper h2 p .mobile-brake {
  display: none;
}

@media screen and (orientation: portrait) {
  .landing-wrapper h2 p .mobile-brake {
    display: block;
  }
}

.landing-wrapper h2 p::before {
  content: '';
  display: block;
  position: absolute;
  top: 4vmax;
  right: -5vmax;
  width: 55%;
  height: 1vmax;
  background-color: #27AE60;
  z-index: -1;
}

@media screen and (orientation: portrait) {
  .landing-wrapper h2 p::before {
    width: 45%;
    right: 0;
  }
}

.landing-wrapper h2::after {
  content: '';
  display: block;
  position: absolute;
  top: 4vmax;
  left: -5vmax;
  width: 55%;
  height: 1vmax;
  background-color: #27AE60;
  z-index: -1;
}

@media screen and (orientation: portrait) {
  .landing-wrapper h2::after {
    width: 45%;
  }
}

@media screen and (max-width: 500px) {
  .landing-wrapper h2::after {
    left: -2vmax;
    top: 3.9vmax;
  }
}

.landing-wrapper h3 {
  margin-top: 3vmax;
  width: 50%;
  font-size: 1.2vmax;
  font-weight: 300;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .landing-wrapper h3 {
    width: 70%;
    margin-top: 6vmax;
    font-size: 2vmax;
  }
}

@media screen and (max-width: 500px) {
  .landing-wrapper h3 {
    width: 80%;
  }
}

.landing-wrapper .scroll {
  position: absolute;
  bottom: 4vmax;
  width: 2vmax;
  height: 2vmax;
  background-image: url(../assets/icons/scroll-icon.svg);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .scroll {
    width: 4vmax;
    height: 4vmax;
    bottom: 10vmax;
  }
}

.landing-wrapper .scroll:hover {
  bottom: 4.5vmax;
}

@media screen and (orientation: portrait) {
  .landing-wrapper .scroll:hover {
    bottom: 11vmax;
  }
}

.landing-wrapper #goUp-button {
  width: 2vmax;
  height: 2vmax;
  background-color: #fafafa;
  border-radius: 50%;
  padding: 0.5vmax;
  position: fixed;
  bottom: 3vmax;
  right: 2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: -2px 2px 15px -5px black;
          box-shadow: -2px 2px 15px -5px black;
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  z-index: 999;
}

@media screen and (orientation: portrait) {
  .landing-wrapper #goUp-button {
    width: 4vmax;
    height: 4vmax;
    bottom: 4vmax;
    right: 3vmax;
  }
}

.landing-wrapper #goUp-button:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.landing-wrapper #goUp-button img {
  width: 60%;
  height: 60%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.standOut-wrapper {
  width: 100%;
  padding: 7vmax 0;
  background-color: #27AE60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standOut-wrapper .boxes {
  width: 100%;
  padding: 0 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
}

@media screen and (orientation: portrait) {
  .standOut-wrapper .boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    height: unset;
    margin-top: -5%;
    height: 105%;
  }
}

@media screen and (max-width: 500px) {
  .standOut-wrapper .boxes {
    padding: 0 5%;
  }
}

.standOut-wrapper .boxes .standOut-box {
  width: 90%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vmax 0;
  -webkit-box-shadow: -1px 1px 25px -15px black;
          box-shadow: -1px 1px 25px -15px black;
  border-radius: 20px;
}

@media screen and (orientation: portrait) {
  .standOut-wrapper .boxes .standOut-box {
    padding: 4vmax 0;
  }
}

@media screen and (max-width: 500px) {
  .standOut-wrapper .boxes .standOut-box {
    width: 100%;
  }
}

.standOut-wrapper .boxes .standOut-box .standOut-icon {
  width: 5vmax;
  height: 5vmax;
  background-position: center;
  background-size: cover;
}

@media screen and (orientation: portrait) {
  .standOut-wrapper .boxes .standOut-box .standOut-icon {
    width: 8vmax;
    height: 8vmax;
  }
}

.standOut-wrapper .boxes .standOut-box .so-box-icon1 {
  background-image: url(../assets/icons/websites-icon1.svg);
}

.standOut-wrapper .boxes .standOut-box .so-box-icon2 {
  background-image: url(../assets/icons/websites-icon2.svg);
}

.standOut-wrapper .boxes .standOut-box .so-box-icon3 {
  background-image: url(../assets/icons/websites-icon3.svg);
}

.standOut-wrapper .boxes .standOut-box .so-box-icon4 {
  background-image: url(../assets/icons/websites-icon4.svg);
}

.standOut-wrapper .boxes .standOut-box .standOut-title {
  color: #27AE60;
  font-size: 1.5vmax;
  margin: 1.5vmax 0 1vmax 0;
  font-weight: 500;
}

@media screen and (orientation: portrait) {
  .standOut-wrapper .boxes .standOut-box .standOut-title {
    font-size: 2.2vmax;
    margin: 2.5vmax 0 2vmax 0;
  }
}

.standOut-wrapper .boxes .standOut-box .standOut-description {
  text-align: center;
  width: 90%;
  color: black;
  font-size: 0.9vmax;
  font-weight: 400;
}

@media screen and (orientation: portrait) {
  .standOut-wrapper .boxes .standOut-box .standOut-description {
    font-size: 1.4vmax;
    width: 90%;
  }
}

.description1-wrapper {
  width: 100vw;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 7% 0;
}

@media screen and (orientation: portrait) {
  .description1-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10% 0;
  }
}

.description1-wrapper .description1-image {
  width: 30vmax;
  height: 30vmax;
  background-image: url(../assets/icons/ilustration1.svg);
  background-position: center;
  background-size: cover;
}

@media screen and (orientation: portrait) {
  .description1-wrapper .description1-image {
    width: 100%;
  }
}

.description1-wrapper .description1-content {
  width: 40%;
}

@media screen and (orientation: portrait) {
  .description1-wrapper .description1-content {
    width: 90%;
    margin-top: 10%;
    text-align: center;
  }
}

.description1-wrapper .description1-content h2 {
  font-weight: 500;
  font-size: 2vmax;
  color: #27AE60;
}

@media screen and (orientation: portrait) {
  .description1-wrapper .description1-content h2 {
    font-size: 4vmax;
  }
}

.description1-wrapper .description1-content ul {
  margin-top: 4vmax;
  list-style: none;
}

@media screen and (orientation: portrait) {
  .description1-wrapper .description1-content ul {
    width: 80%;
    margin: 6vmax auto 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .description1-wrapper .description1-content ul {
    width: 70%;
  }
}

.description1-wrapper .description1-content li {
  margin-top: 1.2vmax;
  font-size: 1.2vmax;
}

@media screen and (orientation: portrait) {
  .description1-wrapper .description1-content li {
    font-size: 2vmax;
    text-align: left;
    line-height: 3vmax;
    margin-top: 2vmax;
  }
}

@media screen and (max-width: 500px) {
  .description1-wrapper .description1-content li {
    text-align: center;
  }
}

.description1-wrapper .description1-content li::before {
  content: "\2022";
  color: #27AE60;
  font-weight: bold;
  display: inline-block;
  width: 1vmax;
  margin-left: -1em;
  margin-right: 1vmax;
}

@media screen and (max-width: 500px) {
  .description1-wrapper .description1-content li::before {
    font-size: 3vmax;
  }
}

.information-wrapper {
  width: 100%;
  background-color: #27AE60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7% 0;
  color: #fafafa;
}

@media screen and (orientation: portrait) {
  .information-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.information-wrapper .information-content {
  width: 40%;
}

@media screen and (orientation: portrait) {
  .information-wrapper .information-content {
    width: 80%;
    text-align: center;
  }
}

.information-wrapper .information-content h2 {
  font-weight: 600;
  font-size: 2.6vmax;
}

@media screen and (orientation: portrait) {
  .information-wrapper .information-content h2 {
    font-size: 4vmax;
  }
}

.information-wrapper .information-content p {
  margin-top: 4vmax;
  font-weight: 500;
  font-size: 1vmax;
}

@media screen and (orientation: portrait) {
  .information-wrapper .information-content p {
    width: 90%;
    margin: 6vmax auto;
    font-size: 2vmax;
    font-weight: 400;
  }
}

.information-wrapper .information-image {
  width: 30vmax;
  height: 30vmax;
  background-image: url(../assets/icons/ilustration2.svg);
  background-position: center;
  background-size: cover;
}

@media screen and (orientation: portrait) {
  .information-wrapper .information-image {
    width: 100%;
  }
}

.pricing-wrapper {
  width: 100%;
  padding: 10% 0 5% 0;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-wrapper h2 {
  font-size: 2.4vmax;
  font-weight: 500;
}

@media screen and (orientation: portrait) {
  .pricing-wrapper h2 {
    font-size: 4vmax;
  }
}

@media screen and (max-width: 500px) {
  .pricing-wrapper h2 {
    font-size: 3.5vmax;
  }
}

.pricing-wrapper .pricing-container {
  width: 70%;
  margin-top: 8vmax;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vmax;
}

@media screen and (orientation: portrait) {
  .pricing-wrapper .pricing-container {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pricing-wrapper .pricing-container .pricing-item {
  width: 100%;
  padding-bottom: 2vmax;
  border-radius: 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -1px 1px 25px -15px black;
          box-shadow: -1px 1px 25px -15px black;
}

.pricing-wrapper .pricing-container .pricing-item .pricing-item-type {
  width: 100%;
  padding: 0.5vmax 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (orientation: portrait) {
  .pricing-wrapper .pricing-container .pricing-item .pricing-item-type {
    padding: 1vmax 0;
  }
}

.pricing-wrapper .pricing-container .pricing-item .pricing-item-type p {
  font-size: 1vmax;
  color: white;
}

@media screen and (orientation: portrait) {
  .pricing-wrapper .pricing-container .pricing-item .pricing-item-type p {
    font-size: 2vmax;
  }
}

.pricing-wrapper .pricing-container .pricing-item .type1 {
  background-color: #0097e6;
}

.pricing-wrapper .pricing-container .pricing-item .type2 {
  background-color: #f9ca24;
}

.pricing-wrapper .pricing-container .pricing-item .type3 {
  background-color: #8e44ad;
}

.pricing-wrapper .pricing-container .pricing-item .pricing-item-icon {
  width: 5vmax;
  height: 5vmax;
  margin: 2vmax 0;
  background-position: center;
  background-size: cover;
  -webkit-filter: invert(21%) sepia(0%) saturate(3542%) hue-rotate(88deg) brightness(92%) contrast(84%);
          filter: invert(21%) sepia(0%) saturate(3542%) hue-rotate(88deg) brightness(92%) contrast(84%);
}

@media screen and (orientation: portrait) {
  .pricing-wrapper .pricing-container .pricing-item .pricing-item-icon {
    width: 8vmax;
    height: 8vmax;
  }
}

.pricing-wrapper .pricing-container .pricing-item .pricing-list {
  width: 90%;
  list-style: none;
}

.pricing-wrapper .pricing-container .pricing-item .pricing-list li {
  margin: 1vmax 0;
  padding: 0.5vmax 0;
  text-align: center;
  font-size: 0.9vmax;
  border-bottom: 2px solid rgba(50, 50, 50, 0.2);
}

@media screen and (orientation: portrait) {
  .pricing-wrapper .pricing-container .pricing-item .pricing-list li {
    font-size: 2vmax;
    padding: 1vmax 0;
    margin: 3vmax 0;
  }
}

.pricing-wrapper .pricing-container .pricing-item .pricing-number {
  margin-top: 2vmax;
  font-size: 2vmax;
}

@media screen and (orientation: portrait) {
  .pricing-wrapper .pricing-container .pricing-item .pricing-number {
    margin-top: 6vmax;
    font-size: 3.5vmax;
  }
}

.pricing-wrapper .pricing-container .item1 {
  border: 3px solid #0097e6;
  border-top: none;
}

.pricing-wrapper .pricing-container .item2 {
  border: 3px solid #f9ca24;
  border-top: none;
}

.pricing-wrapper .pricing-container .item3 {
  border: 3px solid #8e44ad;
  border-top: none;
}

.pricing-wrapper .websites-button {
  position: relative;
  margin-top: 8vmax;
  padding: 1.3vmax 2vmax;
  background-color: #fafafa;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .pricing-wrapper .websites-button {
    padding: 2vmax 3vmax;
  }
}

.pricing-wrapper .websites-button p {
  width: 100%;
  margin: 0;
  color: #27AE60;
  font-size: 1.2vmax;
  font-weight: 500;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

@media screen and (orientation: portrait) {
  .pricing-wrapper .websites-button p {
    font-size: 2vmax;
  }
}

.pricing-wrapper .websites-button:hover {
  background-color: #27AE60;
}

.pricing-wrapper .websites-button:hover p {
  color: #fafafa;
}

.pricing-wrapper .websites-button:hover::after, .pricing-wrapper .websites-button:hover::before {
  display: none;
}

.pricing-wrapper .websites-button::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 60%;
  height: 55%;
  border-top: 4px solid #27AE60;
  border-left: 4px solid #27AE60;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.pricing-wrapper .websites-button::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 55%;
  border-bottom: 4px solid #27AE60;
  border-right: 4px solid #27AE60;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.contact-wrapper {
  width: 100%;
  background-color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 3vmax;
  height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.contact-wrapper .contact-title {
  padding: 1vmax 5vmax;
  background-color: #27AE60;
  color: #fafafa;
  font-size: 2.4vmax;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  margin-top: 5vmax;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-title {
    font-size: 4vmax;
  }
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-title {
    font-size: 3vmax;
  }
}

.contact-wrapper .contact-container {
  width: 80%;
  margin: 4vmax auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container {
    width: 90%;
  }
}

.contact-wrapper .contact-container .contact-form-container {
  width: 45%;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-form-container {
    width: 100%;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  grid-gap: 2vmax;
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .form-field {
  border: none;
  outline: none;
  font-size: 1vmax;
  padding: 0.5vmax 1vmax;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .form-field {
    font-size: 1.6vmax;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .name-field {
  display: block;
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .name-field {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .surname-field {
  display: block;
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .surname-field {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .email-field {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .email-field {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .msg-field {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  resize: none;
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .msg-field {
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4/7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-wrapper .contact-container .contact-form-container .contact-form .form-button {
  background-color: #27AE60;
  color: #fafafa;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  border: none;
  font-size: 1vmax;
  padding: 1vmax 3vmax;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .form-button {
    font-size: 1.6vmax;
  }
}

@media screen and (max-width: 500px) {
  .contact-wrapper .contact-container .contact-form-container .contact-form .form-button {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-wrapper .contact-container .contact-spacer {
  width: 4px;
  height: 30vmax;
  margin-top: -5vmax;
  background-color: #fafafa;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-spacer {
    width: 70%;
    height: 4px;
    margin-top: 5vmax;
  }
}

.contact-wrapper .contact-container .contact-socials {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-socials {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    margin-top: 5vmax;
  }
}

.contact-wrapper .contact-container .contact-socials .socials {
  background-color: #fafafa;
  margin: 1vmax;
  padding: 1vmax 3vmax;
  font-size: 1.2vmax;
  color: black;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .contact-wrapper .contact-container .contact-socials .socials {
    width: 80%;
    text-align: center;
    font-size: 1.6vmax;
    padding: 1.5vmax 5vmax;
  }
}

.contact-wrapper .contact-container .contact-socials .mail {
  border-left: 20px solid #27AE60;
  cursor: auto;
}

.contact-wrapper .contact-container .contact-socials .mail a {
  color: #27AE60;
}

.contact-wrapper .contact-container .contact-socials .facebook {
  border-left: 20px solid #3b5998;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.contact-wrapper .contact-container .contact-socials .facebook:hover {
  color: #fafafa;
  background-color: #3b5998;
}

.contact-wrapper .contact-container .contact-socials .instagram {
  border-left: 20px solid #C13584;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.contact-wrapper .contact-container .contact-socials .instagram:hover {
  color: #fafafa;
  background-color: #C13584;
}

.contact-wrapper.active {
  height: auto;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}

.footer {
  width: 100%;
  padding: 0.5vmax 0;
  color: #fafafa;
  background-color: #27AE60;
  letter-spacing: 0.5vmax;
  text-align: center;
  font-size: 0.8vmax;
}

@media screen and (orientation: portrait) {
  .footer {
    font-size: 1.2vmax;
    padding: 1vmax 0;
  }
}
/*# sourceMappingURL=offer.css.map */